/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.App-header code {
  background-color: #1c2833;
  border: #0b5345 1px solid;
  padding: 3px;
  font-size: 12px;
}

.PersonasList {
  padding-bottom: 40px;
}

.rigth-button button,
.rigth-button a,
.rigth-button input[type="submit"],
.rigth-button input[type="reset"] {
  float: right;
  margin-left: 5px;
}

#observaciones {
  resize: none;
}

.srv-validation-message {
  color: #d35400 !important;
  font-size: 12px;
}
@media (max-width: 488px) {
  .d-xs-none {
    display: none;
  }
}
